// Base styles
// todo: organize!

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body.home {
  background-color: $primary;
}

main {
  margin: 1.5rem auto;
  position: relative;
  color: #3f3f3f;
  p {
    margin: 1.5rem 0;
  }

}


// Icon colors

.fa-magento {
  color: #f46f25;
}
.fa-wordpress {
  color: #21759b;
}
.fa-shopping-cart {
  color: #96bf48;
}
.fa-drupal {
  color: #0077c0;
}

//Navbar

header .img-fluid {
  border: 2px solid white;
  box-shadow: 0 0 2em rgba(0,0,0,.4);
  transition: box-shadow .2s ease;
}

header .collapsing .img-fluid {
  border: 2px solid white;
  box-shadow: 0 0 0 rgba(0,0,0,.4);
}

header .navbar-toggler {
  padding: 0;
  border: 0;
  .fa-times {
    display: block;
  }
  .fa-ellipsis-h {
    display: none;
  }
  &.collapsed {
    .fa-times {
      display: none;
    }
    .fa-ellipsis-h {
      display: block;
    }
  }
}

header .profile-img {
  max-width: 100px;
}

// add relative pos to containers
.container {
  position: relative;
}

// heading variants
.site-title {
  display: inline-block;
}

.card-title i, .card-header i {
  opacity: .5;
}

h1 {
  display: inline-block;
  font-size: 3.2rem;
  color: darken($secondary,25%);
  background-color: lighten($secondary,29%);
  padding: .6rem 1rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  transform: translateX(-1rem);
}

h2 {
  display: inline-block;
  font-size: 1.9rem;
  color: darken($secondary,25%);
  background-color: lighten($secondary,29%);
  padding: .6rem 1rem;
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  transform: translateX(-1rem) rotate(-1deg);
}

h2, h3, h4 {
  letter-spacing: 0;
  color: $primary-dark;
}

.navbar {
  background-color: darken($primary,10%);
}

.navbar-brand {
  i {
    color: white;
    opacity: .9;
    transition: all .22s ease;
  }
  &:hover {
    i {
      color: #ffd33d;
      opacity: 1;
      transform: scale(1.14)
    }
  }
}

.list-menu {
  li {
    margin-bottom: .75rem;
    a {
      color: darken($primary,10%);
      display: inline-block;
      background-color: white;
      padding: .3rem .6rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;
      transition: all .2s .04s ease-in;
      &:hover {
        color: white;
        text-decoration: none;
        background-color: darken($primary,10%);
        transform: scale(1.1) rotate(1deg);
      }
      i {
        opacity: .7;
      }
    }
  }
}

//color overrides
.text-primary {
  color: $primary !important; //!important required due to Bootstrap's style having it, too
}

.bg-dark{
  background-color: darken($secondary,45%) !important;
  .text-muted {
    color: lighten($secondary,16%) !important;
  }
  strong {
    color: white;
  }
}


// Button overrides
// todo: import bootstrap via sass to manipulate variables directly.
.btn-primary,
.bg-primary {
  background-color: $primary !important; //!important required due to Bootstrap's style having it, too
  border-color: $primary-dark;
  &.btn:hover {
  }
}

.btn-secondary,
.bg-secondary {
  background-color: $secondary !important; //!important required due to Bootstrap's style having it, too
}
.btn, .btn-primary {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: all 0.3s ease-out;
  z-index: 1;
  &:before, &:after {
    content: '';
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease-out;
    background-color: white;
    height: 100%;
    left: -35%;
    top: 0;
    transform: skew(50deg);
    transform-origin: top left;
    width: 0; //this'll increase to 135% on hover
  }
  &:hover {
    color: $primary-dark;
    &:after {
      height: 100%;
      width: 135%; //told ya
    }
  }
}

.btn.btn-outline-primary {
  background-color: white;
  border-color: $primary;
  color: $primary;
  z-index: 1;
  &:before {
    background-color: white;
    transition: all .5s ease-in-out;
    z-index: -1;
  }
  &:after {
    background-color: $primary;
    transition: all .3s ease-in-out;
    z-index: -2;
  }
  &:hover {
    background-color: white;
    color: $primary;
    &:before {
      height: 100%;
      width: 135%; //told ya
    }
  }
}


.btn-secondary {
  background-color: $secondary !important;
  &:after {
    background-color: darken($secondary, 10%);
  }
  &:hover {
    color: white;
  }
}

.home-cards {
  border: white;
  background-color: white;
  .card-title {
    display: inline-block;
    font-weight: 700;
    font-size: 1.2rem;
    background-color: $primary;
    color: white;
    padding: .4rem .6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
  }
  .card-body {
    .icon {
      margin: 0 0 1rem 0;
    }
    padding: 1rem;
    color: $secondary;
  }
}

.resume-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  .card-body {
    padding: 1rem 0 1rem 0;
  }
  .card-title {
    //display: inline-block;
    font-size: 2.0rem;
    background-color: $primary;
    color: white;
    padding: .5rem 1rem;
    text-transform: uppercase;
    display: table; //neat little hack from css-tricks to force a linebreak after inlines
  }
  .card-subtitle {
    display: inline-block;
    font-weight: 300;
    font-size: 1.2rem;
    background-color: $primary;
    color: white;
    padding: .5rem 1rem;
    text-transform: uppercase;
  }
  .years {
    display: inline-block;
    font-weight: 300;
    font-size: 1.2rem;
    background-color: $secondary;
    color: white;
    padding: .5rem 1rem;
    margin: 0 0 0 .3rem;
  }
  .responsibilities {
    border: 1px solid $primary-dark;
    margin: 1rem 0 .5rem 0;
    padding: 0 .5rem;
    list-style-type: none;
    > li {
      margin: 1rem 0;
      color: $primary-dark;
    }
  }
}

.experience-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12rem;
  color: $primary;
  opacity: .3;
  z-index: 1;
}

.z-index-up {
  position: relative;
  z-index: 2;
}

.alert {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  .fas {
    padding-right: 1rem;
    opacity: .7;
  }
}

