---
layout: default
---

<!-- this homepage animation is made from fontawesome icons -->
<div class="jumbotron frame home-animation">
    <h1 class="sr-only">Jake Hamilton's Frontend Portfolio</h1>
    <div class="plane-container">
        <!-- Paper plane for animation -->
        <div class="plane">
            <i class="fas fa-paper-plane fa-fw fa-5x"></i>
        </div>

    </div>
</div>

<div class="clouds">
    <!-- Clouds for animation -->
    <i class="fas fa-cloud fa-5x cloud front slowest"></i>
    <i class="fas fa-cloud fa-5x cloud distant slowest massive"></i>
    <i class="fas fa-cloud fa-5x cloud distant slower smaller"></i>
    <i class="fas fa-cloud fa-5x cloud small slow"></i>
    <i class="fas fa-cloud fa-5x cloud distant super-slow big"></i>
</div>

<div class="container">
    <div class="row mb-3">
        <div class="col-md-8 d-flex">
            <div class="card box-shadow mb-3" style="flex: 1;">
                <div class="card-body">
                    <h2 class="sr-only">Homepage</h2>
                    <h3 class="card-title text-primary"><i class="fas fa-fw fa-bullhorn"></i> Hello from Minnesota!</h3>
                    <p class="card-text">First of all, it's awesome that you care enough to be visiting here.
                        Ideally, all of this will make the case that I'm a hard-working, experienced front-end
                        developer.
                    </p>
                    <p class="card-text">At worst, you'll find my jokes annoying. ...And I can see why that would count
                        against me.</p>
                    <p class="card-text">&mdash; Jake</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card box-shadow" style="flex: 1;">
                <div class="card-header bg-primary text-uppercase font-weight-bold text-white">
                    Platforms I <i class="fas fa-heart"><span class="sr-only">love</span></i> ...
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fab fa-fw fa-magento"></i> Magento 2</li>
                    <li class="list-group-item"><i class="fab fa-fw fa-wordpress"></i> Wordpress</li>
                    <li class="list-group-item"><i class="fas fa-fw fa-shopping-cart"></i> Shopify</li>
                    <li class="list-group-item"><i class="fab fa-fw fa-drupal"></i> Drupal</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="album home-cards py-4 bg-white">
    <div class="container">
        <div class="alert alert-warning border" role="alert">
            <i class="fas fa-exclamation-triangle fa-2x"></i> <span>This site is a work in progress. I might break things
        and not fix them very quickly. I apologize, but this is my playground!</span>
        </div>
        <div class="row mt-4">
            <div class="col-md-4 mb-4">
                <div class="card box-shadow h-100">
                    <a class="card-body text-center" href="/about">
                        <!-- Elements inside an anchor tag. There are different opinions on this.
                        Here, I'm okay with only modern browser support. -->
                        <div class="circle-container">
                            <svg xmlns="http://www.w3.org/2000/svg" class="svg-circle" width="515" height="515"
                                 viewbox="0 0 515 515">
                                <path class="circle" stroke="#000" stroke-width="10" fill="none"
                                      d="M255 5c138.07 0 250 111.93 250 250S393.07 505 255 505 5 393.07 5 255 116.93 5 255 5z"/>
                            </svg>
                            <i class="icon fas fa-user fa-5x"></i>
                        </div>
                        <h3 class="card-title">Who I Am</h3>
                        <p class="card-text">My life is a terrible, but funny, comedy movie.</p>
                    </a>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card box-shadow h-100">
                    <a class="card-body text-center" href="/experience">
                        <div class="circle-container">
                            <svg xmlns="http://www.w3.org/2000/svg" class="svg-circle" width="515" height="515"
                                 viewbox="0 0 515 515">
                                <path class="circle" stroke="#000" stroke-width="10" fill="none"
                                      d="M255 5c138.07 0 250 111.93 250 250S393.07 505 255 505 5 393.07 5 255 116.93 5 255 5z"/>
                            </svg>
                            <i class="icon fas fa-laptop fa-5x"></i>
                        </div>
                        <h3 class="card-title">What I Do</h3>
                        <p class="card-text">(Spoiler: It's mostly building websites.)</p>

                    </a>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card box-shadow h-100">
                    <a class="card-body text-center" href="/assets/jakehamilton-resume.pdf">
                        <div class="circle-container">
                            <svg xmlns="http://www.w3.org/2000/svg" class="svg-circle" width="515" height="515"
                                 viewbox="0 0 515 515">
                                <path class="circle" stroke="#000" stroke-width="10" fill="none"
                                      d="M255 5c138.07 0 250 111.93 250 250S393.07 505 255 505 5 393.07 5 255 116.93 5 255 5z"/>
                            </svg>
                            <i class="icon fas fa-file-alt fa-5x"></i>
                        </div>
                        <h3 class="card-title">My Resume</h3>
                        <p class="card-text">This one breaks the naming convention. :(</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="alert alert-light border mt-2" role="alert">
            <i class="fas fa-info-circle fa-2x text-primary"></i> <span><em>Oh, yeah!</em> If you're curious, I've made a whole page dedicated to how this site was built. <a
                href="#" class="alert-link">Check it out here!</a></span>
        </div>
    </div>
</div>